.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    margin-top: 20px;
    padding: 0 100px;
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 50px;
}
.rsvp {
    padding: 20px;
    background: red;
    border-radius: 10px;
    color: #fff;
}
.rsvp > a {
    color: #fff;
    text-decoration: none;
}