* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation */
.nav__container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav__links>ul {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
}
.inquiry {
  cursor: pointer;
  text-align: center;
  border: 1px solid black;
  width: 150px;
}

/* Hero */
.hero__section__container {
  position: relative;
  width: 100%;
  height: 70vh;
}
.hero__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero__intro h1 {
  max-width: 300px;
  text-align: center;
}
.hero__intro p {
  max-width: 350px;
  text-align: center;
}
.hero__intro>a {
  padding: 15px;
  background: black;
  color: #fff;
}

/* How it works */
.howitworks__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.left__section h2 {
  max-width: 450px;
  margin-bottom: 20px;
}

.right {
  max-width: 600px;
}
.right h2 {
  margin-bottom: 50px;
}
.icon__section {
  display: flex;
  gap: 45px;
}
.horizontal__rule {
  width: 1px;
  transform: rotate(90deg);
  border: 1px solid red;
}
.icon {
  width: 50px;
  height: 50px;
  margin-top: 20px;
}
.step {
  display: flex;
  gap: 60px;
  margin-bottom: 20px;
}
.step__text>h3 {
  margin-bottom: 15px;
}

/* Our Services */